<!DOCTYPE html>
<html>
    <head>
        <title>Edit Meme</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
    <h3>Edit Meme of:&nbsp<%=meme.name%></h3>
<div class="container">
    <div class="row">
        <div style="width: 50%; margin: 50px auto;">
            <form action="/memes/<%=meme._id%>?_method=PATCH" method="POST">
                <div class="form-group">
               New Caption     <input class="form-control" type="text" name="caption" placeholder="Update Caption" value="<%=meme.caption%>">
                </div>
                <div class="form-group">
                    New Meme URL  <input class="form-control" type="text" name="memeurl" placeholder="Update Meme URL" value="<%=meme.memeurl%>">
                </div>
                <div class="form-group">
                    <button class="btn btn-large btn-danger btn-block">Make Update</button>
                </div>
            </form>
        </div>
    </div> 
    </div>
    
</div>  


</body>
</html>