<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        
    </head>
    <body>
        <a href="/memes"><h3>Go back to Home Page</h3></a>
        <img src="https://miro.medium.com/max/924/1*ZvwdIQkolJ2z1MILFrQjOQ.jpeg"
         width="100%" height="70%">
         
    </body>
</html>