<!DOCTYPE html>
<html>
    <head>
        <title>Single Meme</title>
        </head>
    <body>

<div class="thumbnail">
    <div class="caption">
        <h3> Name:<%= meme.name %> </h4>
        <h3>Caption:<%= meme.caption %> </h4>
    </div>
    <img src="<%= meme.memeurl %>" alt="Image not found" width="500" height="500">
</div>